<a href="https://colab.research.google.com/github/rexwotan-A01840088/Ciencia-y-Analitica-de-datos/blob/main/Actividad3_A01840088.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.12/dist-packages (1.1.2)

In [ ]:
import sqlalchemy as sqla
import pymysql
import pandas as pd

db =sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass:@20.106.157.52:3306/MOVIES',pool_recycle=3600)

conn = db.connect

In [ ]:
# motor+driver://usuarioBD:clave@ipHostDBMS:puerto/esquema
# pool_recycle controla el tiempo máximo de vida de una conexión en el pool (6600 segundos = 1 hora)
db = sqla.create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.51.200.131:3306/Netflix', pool_recycle=6600)
conn = db.connect()

In [ ]:
query = sqla.text("""
  SELECT * FROM movie
  WHERE runtime > 300
""")
pd.read_sql(query, conn)

,id,created_date,modified_date,available_globally,locale,original_title,release_date,runtime,title
0,5793,2024-01-01,2024-01-01,b'\x00',None,日本統一シリーズ: 映画シリーズ,None,3892,Nihontouitsu Series: Film Series
1,5794,2024-01-01,2024-01-01,b'\x00',None,釣りバカ日誌: 映画シリーズ,None,2120,Free and Easy Series: Film Series
2,5874,2024-01-01,2024-01-01,b'\x01',None,None,2021-08-06,312,Navarasa: Limited Series
3,9729,2024-01-01,2024-01-01,b'\x00',None,織田同志会 織田征仁: 映画シリーズ,None,710,Seiji Oda: Film Series
4,9730,2024-01-01,2024-01-01,b'\x00',None,キングダム～首領になった男～: 映画シリーズ,None,427,Kingdom ~ The Man Who Became the Top ~: Film S...

In [ ]:
query = sqla.text("""
  SELECT COUNT(*) AS total,
   COALESCE(SUM(CASE WHEN locale = 'en' THEN 1 ELSE 0 END), 0) AS solo_us
  FROM movie
""")
df = pd.read_sql(query, conn)
if df['total'][0] > 0:
    porcentaje = (df['solo_us'][0] / df['total'][0]) * 100
    print(f"Porcentaje de peliculas en ingles 'en': {porcentaje:.2f}%")

Porcentaje de peliculas en ingles 'en': 4.51%

In [ ]:
query = sqla.text("""
  SELECT DISTINCT locale FROM movie
  WHERE locale IS NOT NULL
""")
pd.read_sql(query, conn)

  locale
0     en

In [ ]:
query = sqla.text("""
  SELECT COUNT(*) As total FROM movie
  WHERE locale IS NULL
""")
df = pd.read_sql(query, conn)
df['total']

0    11255
Name: total, dtype: int64

In [ ]:
query = sqla.text("""
  SELECT COUNT(*) FROM movie
  WHERE locale IS NULL AND title != original_title
""")
pd.read_sql(query, conn)

   COUNT(*)
0      3947

In [ ]:
query = sqla.text("""
    SELECT m.title, SUM(v.duration) AS total_semanas
    FROM view_summary v
    JOIN movie m ON v.movie_id = m.id
    WHERE v.movie_id IS NOT NULL
    GROUP BY m.title
    ORDER BY total_semanas DESC
    LIMIT 1
""")
resultado = pd.read_sql(query, db)
print(resultado)

                         title  total_semanas
0  The Super Mario Bros. Movie           46.0

In [ ]:
query = sqla.text("""
    SELECT tv.title, COUNT(season.id) AS total_temporadas
    FROM tv_show tv
    JOIN season ON tv.id = season.tv_show_id
    GROUP BY tv.title
    ORDER BY total_temporadas DESC
    LIMIT 10
    """)
resultados = pd.read_sql(query, conn)
print(resultados)

                               title  total_temporadas
0                      Love Is Blind                39
1                          ONE PIECE                37
2         How do you like Wednesday?                26
3                   Naruto Shippuden                20
4                     Grey's Anatomy                20
5                         DAN DA DAN                20
6                   Heartland (2007)                17
7  It's Always Sunny in Philadelphia                16
8                                Raw                15
9                               NCIS                15

In [ ]:
query = sqla.text("""
    SELECT DISTINCT start_date, end_date
    FROM view_summary
    WHERE duration = 'SEMI_ANNUALLY'
    ORDER BY start_date
""")
resultados = pd.read_sql(query, conn)
print(resultados)

   start_date    end_date
0  2023-07-01  2023-12-31
1  2024-01-01  2024-06-30

In [ ]:
query = sqla.text("""
    SELECT s.season_number, vs.views
    FROM tv_show tv
    JOIN season s ON tv.id = s.tv_show_id
    JOIN view_summary vs ON s.id = vs.season_id
    WHERE tv.title = 'Grey''s Anatomy'
      AND vs.start_date >= '2024-01-01'
      AND vs.end_date <= '2024-06-30'
    ORDER BY vs.views DESC
""")
resultados = pd.read_sql(query, conn)
print(resultados)

    season_number    views
0               1  3600000
1               2  3100000
2               3  2900000
3               5  2900000
4               4  2900000
5               6  2800000
6               7  2700000
7               8  2600000
8               9  2500000
9              10  2400000
10             11  2200000
11             12  2000000
12             13  2000000
13             14  2000000
14             19  2000000
15             15  1900000
16             16  1800000
17             18  1700000
18             17  1700000
19             20   100000

In [248]:
import pandas as pd

if 'tv_show' in locals() and not tv_show.empty and 'title' in tv_show.columns and 'id' in tv_show.columns:
    grey_id_row = tv_show[tv_show['title'] == "Grey's Anatomy"]
    if not grey_id_row.empty:
        grey_id = grey_id_row['id'].values[0]
    else:
        print("TV show 'Grey's Anatomy' not found.")
        grey_id = None # Set to None or handle appropriately
else:
    print("tv_show DataFrame is not loaded or does not have required columns.")
    grey_id = None # Set to None or handle appropriately

grey_seasons = pd.DataFrame() # Initialize as empty DataFrame
if grey_id is not None and 'season' in locals() and not season.empty and 'tv_show_id' in season.columns and 'id' in season.columns:
     grey_seasons = season[season['tv_show_id'] == grey_id]
else:
    if grey_id is not None:
        print("season DataFrame is not loaded or does not have required columns.")
primer_semestre = pd.DataFrame() # Initialize as empty DataFrame
if 'view_summary' in locals() and not view_summary.empty and 'start_date' in view_summary.columns and 'end_date' in view_summary.columns:
    start_date_dt = pd.to_datetime('2024-01-01').date()
    end_date_dt = pd.to_datetime('2024-06-30').date()

    view_summary['start_date'] = pd.to_datetime(view_summary['start_date']).dt.date
    view_summary['end_date'] = pd.to_datetime(view_summary['end_date']).dt.date


    primer_semestre = view_summary[
        (view_summary['start_date'] >= start_date_dt) &
        (view_summary['end_date'] <= end_date_dt)
    ]
else:
    print("view_summary DataFrame is not loaded or does not have required columns.")

merged = pd.DataFrame()
if not grey_seasons.empty and not primer_semestre.empty:
    merged = pd.merge(grey_seasons, primer_semestre, left_on='id', right_on='season_id')
else:
    print("Cannot merge: either grey_seasons or primer_semestre DataFrame is empty.")

ordenado = pd.DataFrame()
if not merged.empty and 'season_number' in merged.columns and 'views' in merged.columns:
    ordenado = merged[['season_number', 'views']].sort_values(by='views', ascending=False)
else:
    if not merged.empty:
        print("Cannot sort: merged DataFrame does not have required columns.")
if not ordenado.empty:
    print(ordenado)
else:
    print("No results to display.")

    season_number    views
0             1.0  3600000
1             2.0  3100000
2             3.0  2900000
3             5.0  2900000
4             4.0  2900000
5             6.0  2800000
6             7.0  2700000
7             8.0  2600000
8             9.0  2500000
9            10.0  2400000
10           11.0  2200000
11           12.0  2000000
12           13.0  2000000
13           14.0  2000000
14           19.0  2000000
15           15.0  1900000
16           16.0  1800000
17           18.0  1700000
18           17.0  1700000
19           20.0   100000

In [249]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

if not firebase_admin._apps:
    cred = credentials.Certificate('consultancy.json')
    firebase_admin.initialize_app(cred)

db = firestore.client()


docs = db.collection('EMPLOYEE')